# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.cursor
murmure.AppDir
appimagetool*

stderr
stdout
resources/parakeet-tdt-0.6b-v3-int8/

e2e-tests/.tmp/*
.pnpm-store/

# Agentic
.claude
.agent
_bmad
_bmad-output
!buildTools

